<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; YumSearch 2016. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="/resources/js/jquery/jquery.js"></script>

<!-- jQuery validation -->
<script src="/resources/js/jquery-validate/jquery-validate.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/resources/js/bootstrap/bootstrap.min.js"></script>

<!-- KnockoutJS -->
<script src="/resources/js/knockout/knockout.js"></script>

<script src="/resources/js/general.js"></script>
