<!-- success/error modal -->
    <div class="modal fade" id="successErrorModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body" id="successErrorModalContent">

                </div>
            </div>

        </div>
    </div>



<script type="text/javascript" src="/modals/successerrormodals.js"></script>
