<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/head %>
    </head>

    <body>

        <% include ../../partials/navigation %>

        <!--Contact form-->
        <div class="jumbotron jumbotron-sm"><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 class="h1">
                            <img class="img-responsive img-thumbnail img-circle" src="/resources/img/rounded_white_icon.png" /> Leave your opinion</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="well well-sm">
                        <form action="/user/post_rating" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="ui-widget"><!--autocomplete css class format-->
                                            <label for="search_businessName">
                                                Type the drugstore name</label>
                                            <input type="text" class="form-control" name="search_businessName" id="search_businessName"  required="required" placeholder="Drugstore name"/>
                                        </div>
                                    </div>
                                    <!--http://www.jqueryscript.net/other/Simple-jQuery-Star-Rating-Widget-For-Bootstrap-3-Bootstrap-Rating-Input.html-->
                                    <div class="form-group">
                                        <label for="rating">Rate here
                                            <input type="number" name="rating" id="rating" class="rating" data-clearable="remove"/></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="message">
                                            Comment</label>
                                        <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                                  placeholder="Type here your comment about the drugstore"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-info pull-right" >Post</button>
                                    <!--<input type="submit" value="Send message" />-->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <legend><img src="/resources/img/black_icon.png" /> Please, be respectful</legend>
                    <address>
                        <strong>Delivering messages that include swearing, insults and/or rude language, or use of words in an inappropriate way, hate speech, or racial slurs aren't welcome on YumSearch and may cause your account to be suspended</strong><br>

                    </address>
                    <address>
                        <strong>Remember the</strong><br>
                        <a id="terms_cond" href="#">Terms and Conditions</a>
                    </address>
                </div>
            </div>
        </div><!--contact form-->

        <% include ../../partials/footer %>
        <% include ../../partials/termsmodal %>
        <!-- jQuery -->
        <script src="/resources/js/bootstrap/bootstrap-rating-input.min.js"></script>
        <script src="/resources/js/jquery/jquery-ui.min.js"></script>
        <script src="/ratings/ratings.js"></script>
    </body>
</html>
