<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/head %>
    </head>

    <body>

        <% include ../../partials/navigation %>

        <!-- Header -->
        <a name="about"></a>
        <div class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <div class="intro-message">
                            <div>
                                <a href="/"><img src="/resources/img/logo_black.png" alt="logo" class="img-responsive logo" /></a>
                            </div><br><br>
                            <div class="input-group">
                                <input type="text" class="form-control input-style" placeholder="Search food products near you"/>
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.intro-header -->

        <!-- Page Content -->

        <a  name="services"></a>
        <div class="content-section-a">

            <div class="container">
                <div class=" col-sm-12 row" data-bind="foreach: offers">
                    <div class="col-sm-4">
                        <div class="col-sm-12 thumbnail text-center">
                            <img alt="" class="img-responsive" src=
                                 "http://www.wallpapereast.com/static/images/6801692-lovely-nature-wallpaper.jpg">

                            <div class="caption">
                                <h4><span data-bind="text: prod"></span> Now: <span data-bind="text: now"></span> Before: <span data-bind="text: before"></span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

        </div>
    <!-- /.content-section-a -->


    <% include ../../partials/footer %>

    <% include ../../partials/loginmodals %>

     <% include ../../partials/termsmodal %>
    <script type="text/javascript" src="index/index.js"></script>


    </body>

</html>
