<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/head %>
    </head>

    <body>

        <% include ../../partials/navigation %>

        <!-- Header -->
        <a name="about"></a>
        <div class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <div class="intro-message">
                            <div>
                                <a href="/"><img src="/resources/img/logo_black.png" alt="logo" class="img-responsive logo" /></a>
                            </div><br><br>
                            <div class="input-group">
                                <input type="text" class="form-control input-style" placeholder="Search food products near you"/>
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.intro-header -->

        <!-- Page Content -->

        <a  name="services"></a>
        <div class="content-section-a">

            <div class="container">
                <div class=" col-sm-12 row" data-bind="foreach: offers">
                    <!--
                    <div class="col-sm-4">
                        <div class="col-sm-12 thumbnail text-center">
                            <img alt="" class="img-responsive" src=
                                 "http://www.wallpapereast.com/static/images/6801692-lovely-nature-wallpaper.jpg">

                            <div class="caption">
                                <h4><span data-bind="text: name"></span> Now: <span data-bind="text: priceNow"></span> Before: <span data-bind="text: priceBefore"></span></h4>
                            </div>
                        </div>
                    </div> -->
                    <div class="map" data-bind="offerMap: { loc: loc }" style="height: 200px; width:200px;" class="col-md-4"></div>
                </div>
            </div>

        </div>
        <!-- /.container -->


    <!-- /.content-section-a -->




    <% include ../../partials/footer %>

    <!-- Modal logIn -->
    <div class="modal" id="googleMapsModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Select your location</h4>
                </div>
                <div class="modal-body" style="height: 200px; max-width: 400px;">

                </div>
            </div>

        </div>
    </div>


    <% include ../../partials/loginmodals %>

     <% include ../../partials/termsmodal %>
        <script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyAUqnfY_0L_VBsnK4tHfjAPqMr3GGYlLV4&callback=initMap"
    async defer></script>

    <script type="text/javascript" src="index/index.js"></script>


    </body>

</html>
