<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/head %>
    </head>

    <body>

        <% include ../../partials/navigation %>

        <!-- Header -->
        <a name="about"></a>
        <div class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <div class="intro-message">
                            <h2>Become a yummer and save your money</h2>
                            <div>
                                <a href="/"><img src="/resources/img/logo_black.png" alt="logo" class="img-responsive logo" /></a>
                            </div><br>
                            <div class="col-xs-8 range-div container">
                                <div class="range range-info">
                                    <label for="maxDistance">Set the desired search radius in kilometers </label>
                                    <input type="range" name="maxDistance" id="maxDistance" value="1" min="0.25" max="5" step="0.25" onchange="rangeInfo.value=value">
                                    <output id="rangeInfo">1</output>
                                </div>
                            </div>
                            <div class="input-group">
                                <input type="text" id="MainSearch" class="form-control" placeholder="Search for food products 1 km away from you" data-bind="enterKey: loadOffers"/>

                                <span class="input-group-addon" style="cursor:pointer;" data-bind="enterKey: loadOffers">
                                    <i class="fa fa-search" data-bind="click: loadOffers"></i>
                                </span>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.intro-header -->

        <!-- Page Content -->

        <a  name="services"></a>
        <div class="content-section-a  row">
            <div class="container">
                <h2>Do you want to read about any drugstore at YumSearch? <a class="btn btn-primary btn-lg" href="/business/search">Click Me!</a></h2>
            </div>
        </div>

            <div class="container">
                <div class=" col-sm-12 row" data-bind="foreach: offers">
                    <div class="map col-md-4 map-style" data-bind="offerMap: { loc: loc, business: business, name: name, priceNow: priceNow, priceBefore: priceBefore }, click: $root.enlargeMap" title="Click for further information"></div>
                </div>
            </div>


        <!-- /.container -->


        <!-- /.content-section-a -->




        <% include ../../partials/footer %>


        <% include ../../partials/loginmodals %>

        <% include ../../partials/termsmodal %>

        <!-- Modal map -->
        <div class="modal " id="mapModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <span class="modal-title" id="mapModalHeader"></span>
                    </div>
                    <div class="modal-body">
                        <div id="LargeMap" style="height: 500px;width:500px;"></div>
                    </div>
                </div>

            </div>
        </div>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyAUqnfY_0L_VBsnK4tHfjAPqMr3GGYlLV4"></script>

        <script type="text/javascript" src="index/index.js"></script>
    </body>

</html>
