<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/head %>
    </head>

    <body>

        <% include ../../partials/navigation %>

        <!-- Header -->
        <a name="about"></a>
        <div class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <div class="intro-message">
                            <div>
                                <a href="/"><img src="/resources/img/logo_black.png" alt="logo" class="img-responsive logo" /></a>
                            </div><br><br>
                            <div class="input-group">
                                <input type="text" class="form-control input-style" placeholder="Search food products near you"/>
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.intro-header -->

        <!-- Page Content -->

        <a  name="services"></a>
        <div class="content-section-a">

            <div class="container">
                <div class=" col-sm-12 row" data-bind="foreach: offers">
                    <div class="map col-md-4" data-bind="offerMap: { loc: loc, business: business, name: name, priceNow: priceNow, priceBefore: priceBefore }" style="height: 200px;"></div>
                </div>
            </div>

        </div>
        <!-- /.container -->


    <!-- /.content-section-a -->




    <% include ../../partials/footer %>


    <% include ../../partials/loginmodals %>

     <% include ../../partials/termsmodal %>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyAUqnfY_0L_VBsnK4tHfjAPqMr3GGYlLV4&callback=initMap"></script>

    <script type="text/javascript" src="index/index.js"></script>


    </body>

</html>
