<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/head %>
        <link href="/resources/css/dashboard.css" rel="stylesheet"/>
    </head>

    <body>
        <div class="jumbotron jumbotron-sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 class="h1">
                            <img class="img-responsive img-thumbnail img-circle" src="/resources/img/rounded_white_icon.png" />YumSearch Webmaster</h1>
                    </div>
                </div>
            </div>
        </div>


        <% include ../../partials/footer %>
        <script src="/business/business.js"></script>

    </body>
</html>
