<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/head %>
        <link href="/resources/css/dashboard.css" rel="stylesheet"/>
    </head>

    <body>

        <% include ../../partials/navigation %>
        <div class="jumbotron jumbotron-sm"><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 class="h1">
                            <img class="img-responsive img-thumbnail img-circle" src="/resources/img/rounded_white_icon.png" /> Dashboard</h1>
                    </div>
                </div>
            </div>
        </div>
        <!--Profile information-->
        <div class="container">
            <div class="row user-menu-container square">
                <div class="col-md-7 user-details">
                    <div class="row coralbg white">
                        <div class="col-md-6 no-pad">
                            <div class="user-pad">
                                <h3>Welcome back <br> USER</h3>
                                <h4 class="white"><i class="fa fa-check-circle-o"></i> BUSINESS NAME</h4>
                                <span>Member since REGISTRATION DATE</span>
                            </div>
                        </div>
                        <div class="col-md-6 no-pad">
                            <div class="user-image">
                                <img src="https://farm7.staticflickr.com/6163/6195546981_200e87ddaf_b.jpg" class="img-responsive thumbnail">
                            </div>
                        </div>
                    </div>
                    <div class="row overview">
                        <div class="col-md-4 user-pad text-center">
                            <h3>PRODUCTS</h3>
                            <h4>125</h4>
                        </div>
                        <div class="col-md-4 user-pad text-center">
                            <h3>SUBSCRIBERS</h3>
                            <h4>456</h4>
                        </div>
                        <div class="col-md-4 user-pad text-center">
                            <h3>APPRECIATIONS</h3>
                            <h4>325</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 user-menu-btns">
                    <div class="btn-group-vertical square" id="responsive">
                        <a href="#" class="btn btn-block btn-default active">
                            <i class="fa fa-bullhorn fa-3x"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-commenting fa-3x"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-pencil-square-o fa-3x"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-envelope-o fa-3x"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 user-menu user-pad">
                    <div class="user-menu-content active">
                        <h3>
                            Promote your products
                        </h3>
                        <h4>
                            Last products added
                        </h4>
                        <ul class="user-menu-list">
                            <li>
                                <h4><i class="fa fa-plus-square coral"></i> Tomatoes (price)</h4>
                            </li>
                            <li>
                                <h4><i class="fa fa-plus-square coral"></i> Potatoes (price)</h4>
                            </li>
                            <li>
                                <h4><i class="fa fa-plus-square coral"></i> Cocombers (price)</h4>
                            </li>
                            <li>
                                <a href="/dashboard/offers"><button type="button" class="btn btn-labeled btn-primary">
                                    <span class="btn-label"><i class="fa fa-bullhorn"></i></span>Manage your products</button></a>
                            </li>
                        </ul>
                    </div>
                    <div class="user-menu-content">
                        <h3>
                            Latest comments about you
                        </h3>
                        <ul class="user-menu-list">
                            <li>
                                <h4>From Roselyn Smith <small class="coral"><strong>NEW</strong> <i class="fa fa-clock-o"></i> 7:42 A.M.</small></h4>
                            </li>
                            <li>
                                <h4>From Jonathan Hawkins <small class="coral"><i class="fa fa-clock-o"></i> 10:42 A.M.</small></h4>
                            </li>
                            <li>
                                <h4>From Georgia Jennings <small class="coral"><i class="fa fa-clock-o"></i> 10:42 A.M.</small></h4>
                            </li>
                            <li>
                                <button type="button" class="btn btn-labeled btn-danger" href="#">
                                    <span class="btn-label"><i class="fa fa-envelope-o"></i></span>View All Opinions</button>
                            </li>
                        </ul>
                    </div>
                    <div class="user-menu-content">
                        <h3>
                            Edit profile
                        </h3>
                        <h4>Modify your user profile easily</h4>
                    </div>
                    <div class="user-menu-content">
                        <h3 class="text-center">Would you like more information?</h3>
                        <h3 class="text-center">Do you have any idea to improve our service?</h3>
                        <ul class="user-menu-list">
                            <li>
                                <a href="/contact"> <button type="button" class="btn btn-labeled btn-info">
                                    <span class="btn-label"><i class="fa fa-envelope-o"></i></span>Contact us!</button></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!--profile information-->

        <% include ../../partials/footer %>
        <script src="/business/business.js"></script>

    </body>
</html>
