<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/head %>
    </head>

    <body>

        <% include ../../partials/navigation %>

        <div class="jumbotron jumbotron-sm"><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 class="h1">
                            <img class="img-responsive img-thumbnail img-circle" src="/resources/img/rounded_white_icon.png" /> Offers Management</h1>
                    </div>
                </div>
            </div>
        </div>

        <!--Offers management-->
        <!--hints from http://bootsnipp.com/snippets/featured/bootstrap-snipp-for-datatable-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Insert, update or delete your products on offer </h3><br>
                    <div class="table-responsive">


                        <table id="mytable" class="table table-bordred table-striped">

                            <thead>
                                <th>Product Name</th>
                                <th>Price Before</th>
                                <th>Price Now</th>
                                <th>Discount (%)</th>

                                <th>Delete Offer</th>
                            </thead>
                            <tbody id="offers">
                                <!-- ko foreach: offers -->
                                <tr data-bind="visible: visible">
                                    <td><input type="text" class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-3 " data-bind="value: name" /></td>
                                    <td><input type="text" class="form-control col-lg-12 col-md-3 col-sm-3 col-xs-3 " data-bind="value: priceBefore" /></td>
                                    <td><input type="text" class="form-control col-lg-12 col-md-3 col-sm-3 col-xs-3 " data-bind="value: priceNow" /></td>
                                    <td><input type="text" class="form-control col-lg-12 col-md-3 col-sm-3 col-xs-3 " data-bind="value: differencePercentage" /></td>
                                    <td class="text-center"><button class="btn btn-danger btn-xs" data-title="Delete" data-bind="click: $parent.remove" ><span class="glyphicon glyphicon-trash"></span></button></td>
                                </tr>
                                <!-- /ko -->
                                <tr>
                                    <td><input type="text" class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-3 " data-bind="change: add" disabled="disabled" /></td>
                                    <td><input type="text" class="form-control col-lg-12 col-md-3 col-sm-3 col-xs-3 " data-bind="change: add" disabled="disabled" /></td>
                                    <td><input type="text" class="form-control col-lg-12 col-md-3 col-sm-3 col-xs-3 " data-bind="change: add"  disabled="disabled"/></td>
                                    <td><input type="text" class="form-control col-lg-12 col-md-3 col-sm-3 col-xs-3 " data-bind="change: add"  disabled="disabled"/></td>
                                    <td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-info btn-xs" title="Add" data-bind="click: add" ><span class="glyphicon glyphicon-plus"></span></button></p></td>
                                </tr>

                                <tr>
                                    <td><input type="text" class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-3 " value="Banana" /></td>
                                    <td><input type="text" class="form-control col-lg-12 col-md-3 col-sm-3 col-xs-3 " value="1,20€" /></td>
                                    <td><input type="text" class="form-control col-lg-12 col-md-3 col-sm-3 col-xs-3 " value="0,99€" /></td>
                                    <td><input type="text" class="form-control col-lg-12 col-md-3 col-sm-3 col-xs-3 " value="17.5%" /></td>
                                    <td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                </tr>

                                <tr>
                                    <td><input type="text" class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-3 " value="Banana" /></td>
                                    <td><input type="text" class="form-control col-lg-12 col-md-3 col-sm-3 col-xs-3 " value="1,20€" /></td>
                                    <td><input type="text" class="form-control col-lg-12 col-md-3 col-sm-3 col-xs-3 " value="0,99€" /></td>
                                    <td><input type="text" class="form-control col-lg-12 col-md-3 col-sm-3 col-xs-3 " value="17.5%" /></td>
                                    <td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>

        <% include ../../partials/footer %>
        <script type="text/javascript" src="/offers/offers.js"></script>

    </body>
</html>
