<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/head %>
    </head>

    <body>

        <% include ../../partials/navigation %>
        <div class="jumbotron jumbotron-sm"><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 class="h1">
                            <img class="img-responsive img-thumbnail img-circle" src="/resources/img/rounded_white_icon.png" /> <%= business.name %></h1>
                    </div>
                </div>
            </div>
        </div>


        <div class="container" style="margin-top:20px;">

                <div class="col-xs-12 col-md-6">
                    Address: <%= business.address.address %>
                </div>

                <d  iv class="col-md-8">
                    <div class="well well-sm">
                        <form action="/user/post_rating" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <!--http://www.jqueryscript.net/other/Simple-jQuery-Star-Rating-Widget-For-Bootstrap-3-Bootstrap-Rating-Input.html-->
                                    <div class="form-group">
                                        <label for="rating">Rate here
                                            <input type="number" name="rating" id="rating" class="rating" data-clearable="remove"/></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="message">
                                            Comment</label>
                                        <textarea name="message" id="message" class="form-control" rows="9" cols="25"
                                                  placeholder="Type here your comment about the drugstore"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <a href="#" type="submit" class="btn btn-info pull-right" >Post</a>
                                    <!--<input type="submit" value="Send message" />-->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


        </div>

        <div class="row">
            <h3>Ratings by other users</h3>
            <% for(var i=0; i < ratings.length; i++) { %>
                    <div class="col-md-3">
                        <div class = "panel panel-primary">
                           <div class = "panel-heading">
                              <h3 class = "panel-title">
                                  <%= ratings[i].from.local.username %>
                                  <div class="pull-right">
                                  <% for(var j=1; j <= 5; j++) { %>
                                    <i class="glyphicon <% if (j <= ratings[i].score) { %> glyphicon-star <% } else { %> glyphicon-star-empty <% } %>"></i>
                                  <% } %>
                                    </div>
                               </h3>
                           </div>

                           <div class = "panel-body">
                             <%= ratings[i].comment %>
                           </div>
                        </div>
                    </div>
                <% } %>
        </div>




        <% include ../../partials/footer %>


        <% include ../../partials/loginmodals %>

        <% include ../../partials/termsmodal %>


    </body>

</html>
