<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/head %>
    </head>

    <body>

        <% include ../../partials/navigation %>

        <div class="jumbotron jumbotron-sm"><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 class="h1">
                            <img class="img-responsive img-thumbnail img-circle" src="/resources/img/rounded_white_icon.png" /> Search Businesses</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top:20px;">
                <div class="row">
                    <!-- ko foreach: businesses -->
                    <div class="col-md-12" id="businesses">
                        <div class = "panel panel-info">
                           <div class = "panel-heading">
                              <h3 class = "panel-title">
                                  <span data-bind="text:name"></span>
                                  <div class="pull-right">
                                      Average rating: <span data-bind="text:avgRating"></span>
                                    </div>
                               </h3>
                           </div>

                           <div class = "panel-body" data-bind="text:address.address">

                           </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>


        </div>


        <% include ../../partials/footer %>
        <script type="text/javascript" src="/offers/offers.js"></script>

    </body>
</html>
