<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/head %>
    </head>

    <body>

        <% include ../../partials/navigation %>

        <div class="jumbotron jumbotron-sm"><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 class="h1">
                            <img class="img-responsive img-thumbnail img-circle" src="/resources/img/rounded_white_icon.png" /> Search Businesses</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top:20px;">
                <div class="row"  id="businesses">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="businessSearch" name="businessSearch"  placeholder="Search" data-bind="enterKey: loadBusinesses" />
                            <span class="input-group-addon">
                                <button type="button">
                                    <span class="glyphicon glyphicon-search" data-bind="click: loadBusinesses"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <!-- ko foreach: businesses -->
                    <div class="col-md-12">
                        <div class = "panel panel-info">

                           <div class = "panel-body" >
                                 <h5><a data-bind="attr: { href: '/business/profile/' + id }"><span data-bind="text:name"></span></a></h5>
                                 Address: <span data-bind="text:address.address"></span><br/>
                                Average rating: <span data-bind="text:avgRating"></span>
                           </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>


        </div>


        <% include ../../partials/footer %>
        <script type="text/javascript" src="/businesssearch/businesssearch.js"></script>

    </body>
</html>
